[Desktop Entry]
Name=nordpy
Comment=Plasma applet for nordpy

Icon=nordvpn
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=morpheusthewhite
X-KDE-PluginInfo-Email=zffromGerace@hotmail.it
X-KDE-PluginInfo-Name=org.kde.nordpy
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/morpheusthewhite/nordpy-plasmoid
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
